:root {
  color: aliceblue;
  background-color: #242424;
}

body {
  margin: 0;
}

.header {
  font-size: 2rem;
  border-bottom: 0.25rem solid aliceblue;

  & h1 {
    margin: 1rem 2rem;
  }
}

.main {
  padding: 2rem 16rem;
  border-top: 0.25rem solid aliceblue;
  text-align: center;

  & .btnAdd {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: aliceblue;
    background: none;
    border: none;
    outline: none;
  }
  & .btnAdd:hover {
    outline: 0.25rem solid aliceblue;
  }

  & .book-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 25%);
    gap: 2rem;
  }

  & .book {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: black;
  }
  & p {
    margin: 0;
  }
  & .book button {
    padding: 0.8rem;
    text-align: center;
    width: 90%;
    font-size: 1.5rem;
  }
}

.modal {
  border: 0.25rem solid aliceblue;
  padding: 2rem;

  & h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  & .library-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    & input {
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
    & button {
      padding: 0.75rem;
    }
  }
}
.modal::backdrop {
  background-color: black;
  opacity: 0.75;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 10px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.btn {
  border-radius: 0.5rem;
}

.rounded {
  border-radius: 0.5rem;
}

.nodecoration {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="text"],
input[type="number"] {
  cursor: text;
}
