:root {
  color: aliceblue;
  background-color: #242424;
}

body {
  margin: 5rem 15rem;
  display: flex;
  place-items: center;
  justify-content: center;
}

.main,
#library {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  min-width: 20vw;
  border: 0.25rem solid aliceblue;
}

#app form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 10px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.nodecoration {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
