:root {
  color: aliceblue;
  background-color: #242424;
}

body {
  margin: 0;
}

.header {
  font-size: 2rem;
  border-bottom: 0.25rem solid aliceblue;
  & h1 {
    margin: 1rem 1rem 0rem;
  }
}

.main {
  padding: 2rem 16rem;
  border-top: 0.25rem solid aliceblue;
  text-align: center;
  & button {
    font-size: 2rem;
    font-weight: 600;
  }
}

#app form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 10px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.nodecoration {
  color: inherit;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
